<h1><%= @team_name %></h1>

<h2>Team Motto: <%= @team_motto %></h2>

<% @hero.each do |hero| %>
  <h2>Hero Name: <%= hero[:name] %></h2>
  <h2>Hero Power: <%=hero[:power] %></h2>
  <p>Hero Biography: <%= hero[:biography] %></p>
<% end %>
